:host {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

button {
  border: .1rem solid grey;
  border-radius: .2rem;
  padding: .5rem;
  cursor: pointer;
  background-color: lightgrey;
  color: black;

  &[disabled] {
    background-color: grey;
    color:darkgray;
    cursor: not-allowed;
  }
}
