@import "variables";

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-bg-color);
}

button {
  border: .1rem solid grey;
  padding: .3rem;
  cursor: pointer;
  background-color: var(--container-bg-color);;
  color: black;

  &[disabled] {
    background-color: grey;
    color:darkgray;
    cursor: not-allowed;
  }
}

.star-wars-container {
  width: 60%;
}
