:host {
  display: grid;
  place-items: center;
}

.items {
  display: flex;
  align-items: center;
  background: lightgrey;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
  width: 60%;
  box-shadow: 0.25rem 0.25rem 0.75rem rgb(0 0 0 / 0.1);
  cursor: pointer;

  &:nth-child(even) {
    background: grey;
    margin-right: -2rem;
    margin-left: 2rem;
  }

  &:hover {
    box-shadow: 0 5px 15px rgba(240, 240, 240, .4);
    transition-duration: 0.2s;
  }
}

